
@model MarcoaFinalV3.Models.Mesa

@{
    ViewBag.Title = "RecepcionRegistro";
    Layout = "~/Views/Shared/_Layout_Vendedor.cshtml";
}
<div class="card border-primary w-100">
    <div class="card-body">
        <input type="hidden" value="@Html.DisplayTextFor(model => model.IdMesa)" id="txtidmesa" />
        <h5 class="card-title font-weight-bold text-primary">Detalles de la Mesa</h5>
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label font-weight-bold">Número:</label>
                    <div class="col-sm-8">
                        <label class="col-form-label">@Html.DisplayTextFor(model => model.Numero)</label>
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label font-weight-bold">Detalles:</label>
                    <div class="col-sm-8">
                        <label class="col-form-label">@Html.DisplayTextFor(model => model.Detalle)</label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label font-weight-bold">Estado Mesa:</label>
                    <div class="col-sm-8">
                        <label class="col-form-label">@Html.DisplayTextFor(model => model.oEstadoMesa.Descripcion)</label>
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label font-weight-bold">Capacidad:</label>
                    <div class="col-sm-8">
                        <label class="col-form-label">@Html.DisplayTextFor(model => model.oCapacidadMesa.Descripcion)</label>
                    </div>
                </div>
                <div class="form-row justify-content-start">
                
                    <br />
                    <button type="button" class="btn btn-primary w-25" id="btnregistrar">Registrar</button>
                </div>
            </div>

        </div>

    </div>
</div>









@section scripts{

    <script>
        $("#btnregistrar").on("click", function () {

            var request = {
                objeto: {
                    
                    oMesa: { IdMesa: $("#txtidmesa").val() },
                    
                }
            }

            jQuery.ajax({
                url: '@Url.Action("RegistrarRecepcion", "Gestion")',
                type: "POST",
                data: JSON.stringify(request),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.resultado) {
                        swal("Listo", "El registro fue correcto", "success").then((value) => {
                                 window.location.href = "@Url.Action("Recepcion", "Gestion")"
                            });
                    } else {
                        swal("Lo sentimos", "No se  pudo completar el registro", "warning");
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
        })

    </script>


    }