
<!DOCTYPE html>

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Marcoa Restaurant</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/PluginsCSS")


</head>
<body>
    <header style="margin-bottom:10px;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Marcoa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Action("Index","Inicio")">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("QuienesSomos","Inicio")">Quienes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contacto","Inicio")">Contacto</a>
                        </li>



                    </ul>
                    <form class="d-flex" role="search">
                        <a class=" btn btn-outline-success text-light" href="@Url.Action("Index","Login")">Iniciar Sesion</a>

                    </form>
                </div>
            </div>
        </nav>

    </header>





    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">


                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Inicio")</li>
                        <li>@Html.ActionLink("Quienes Somos", "QuienesSomos", "Inicio")</li>
                        <li>@Html.ActionLink("Contacto", "Contacto", "Inicio")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Iniciar Sesion", "Index", "Login")</li>


                    </ul>
                </div>
            </div>
        </div>
           </div>*@

    <main>
        <div class="container-fluid px-4">
            @RenderBody()
        </div>
    </main>
    <hr />
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2021</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/PluginsJS")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script>

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
